.outline {
	border-style: solid;
	border-radius: 10px;
	border-width: 2px;
}


p, h5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.mapping {
	background-color: #008CBA !important;
}

#patch-name {
	width: 100%;
}

.warning {
	color: red;
}